<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
		<handlers>
			<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\wwwroot\flask-demo\arcgispro-py3-clone\python.exe|C:\inetpub\wwwroot\flask-demo\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
        <httpErrors errorMode="Detailed">
            <remove statusCode="500" subStatusCode="-1" />
        </httpErrors>
	</system.webServer>
	<appSettings>
		<!-- Required settings -->
		<add key="WSGI_HANDLER" value="app.app" />
		<add key="PYTHONPATH" value="C:\inetpub\wwwroot\flask-demo" />
	</appSettings>
</configuration>